.auth-widget-container div,
.auth-widget-container ul,
.auth-widget-container li,
.auth-widget-container form,
.auth-widget-container img {
    position: static;
    margin: 0 !important;
    padding: 0;
    border: none;
    box-shadow: none;
    min-width: unset;
}

.auth-widget-container li {
    padding: 7px;
}

.auth-widget-container button:hover {
    filter: none;
}
